body table{
    text-align: center;
    width: fit-content;
    background-color:darkslategrey;
    border: 2px solid black;
}
body{
    background-color: black;
}
.navbar{
    padding: auto;
    margin: 20px;
    padding-bottom: 100px;
    text-align: center;
    
   
}
.navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    
}
.navbar li{
    float: left;
    display: inline;
    color:white;
    background-color: black;
    text-align: center;
    text-decoration:underline;
    padding: 30px;
    text-transform: capitalize;
    font-size: 20px;
    border-radius: 4px;
    
}
.head-article{
    text-align: center;
    float: left;
    border: 2px solid black;
    width: 900px;
    height: 150px;
    padding-bottom: 100px;
    
    
}
.first-img img{
   float: left;
   padding-right: 40px;
    width: 450px;
    height: 200px;

}
.recent-article{
    text-align: center;
    padding: 50px;
   float: left;
    text-transform: capitalize;
}


/* }
.recent-article tr td{
    border: 2px solid black;
}
*/
#s img{
    height: 500px;
    width: 300px;
}
.recent-article tr{ 
    padding-right: 30px;
}
 h3{
     font-size: 30px;
 }
 button{
     text-transform: capitalize;
     color:white;
     background-color: black;
     border-radius: 3px;
     padding:10px;
 }
 p{
     color: white;
     font-style: oblique;
     font-size: 20px;
 }